body{
    background: linear-gradient(rgb(21, 12, 46),rgb(15, 8, 27));
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,p{
    color:white;
}
label{
    color:white;
}
.dropdown-toggle::after{
    display:none;
}
.container-fluid{
    max-width: 1500px;
}

.nav-link{
    color:hsl(0, 100%, 65%);
    font-size:20px;
}
.nav-link:hover{
    color:hsl(0, 0%, 100%);
}

.navbar-brand{
    margin-right: 0px;
}
.banner-seccion{
    background-color: hsl(0, 100%, 65%);
    color:black;
    padding:20px;
}
.btn{
    border-color: hsl(0, 100%, 65%);
    color:hsl(0, 100%, 65%);
    margin-left: 10px;
}
.btn:hover{
    border-color: hsl(0, 100%, 65%);
    background-color: hsl(0, 100%, 65%);
    color:white;
}

.btn-primary{
    background-color: hsl(0, 100%, 65%);
    color: white;
}
.btn-primary:hover{
    background-color: hsl(0, 52%, 28%);
    border-color: hsl(0,52%,28%);
    color: white;
}
.busqueda{
    background-color:hsl(0, 100%, 65%);
    padding: 10px 0px 20px 0px;
    width:100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.busqueda input{
    font-size:20px;
    width:70%;
}
.busqueda h3{
    color:white;
    font-size:24px;
}


#boton-buscar{
    width: 100px;
}

.carousel-item{
    max-height: 500px;
}



.texto-slide{
    position:absolute;
    bottom:20px;
    left: 20px;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.custom-row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .custom-row [class^="col-"], .custom-row [class*=" col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }

.img {
    min-height: 300px;
    background: center/cover no-repeat;
}

.col:first-child {
    padding-left: 0px;
    clip-path: polygon(0 0, calc(100% - 15px) 0, calc(100% - 10vw) 100%, 0 100%);
    margin-right: -5vw;
}

.col:nth-child(2) {
    clip-path: polygon(10vw 0, calc(100% - 15px) 0, calc(100% - 10vw) 100%, 15px 100%);
    margin: 0 -15px;
}

.col:last-child {
    clip-path: polygon(10vw 0, 100% 0, 100% 100%, 15px 100%);
    margin-left: -5vw;
}


#circulos-informacion{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    color:white;
    text-align: center;
}
.columna-circulo{
    padding-left: 9%;
    padding-right: 9%;
    margin-bottom: 80px;
}
.columna-circulo img{
    margin-bottom: 10px;
}

#circulo-info-extra{
    position: absolute;
    z-index: 1;
    left: 53%;
    width: 250px;
}
#circulo-info-extra p{
    font-size: 14px;
}
.info-ganancias{
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 10px;
}
#info-extra-movil{
    display: none;
}

@media screen and (max-width:767px) {
    #circulo-info-extra{
        visibility: hidden;
    }
    #info-extra-movil{
        display: flex;
        margin-top: 40px;
    }
}
#tipos-de-perfil h1{
    color:white;
    font-size: 36px;
    padding: 50px 0 0 50px;
    margin-right:50px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.desc-perfil-productora{
    font-size: 20px;
    padding: 50px;
    padding-right: 60px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}
.desc-perfil-artista{
    font-size: 20px;
    padding: 50px;
    padding-left: 40px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}
.noticia{
    color:white;
    background-color: rgb(56, 56, 56);
    margin: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: justify;
}
.texto-noticia{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error{
    color:hsl(0, 100%, 65%);
}
.required-label{
    color: #F06767;
    font-size: .85em;
    width: 100%;
    clear: both;
}
.required-active{
    box-shadow: 0 0 15px 2px rgba(243,25,25,.2) inset;
}
