{% extends 'base.html' %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
<link rel="stylesheet" href="{% static 'css/estilo_explorar.css' %}">
{% endblock %}
{% block content %} 
<div class="container mt-5">
  <h1 style="color:black;" class="mb-4">Equipo de ServiExpress</h1>

  <!-- Información sobre Juan Pedro -->
  <div class="card mb-4">
    <div class="card-header">
      <h2 style="color:black;">Juan Pedro - Fundador y Gerente</h2>
    </div>
    <div class="card-body">
      <p style="color:black;">
        Juan Pedro es el fundador y gerente de ServiExpress. Con una visión clara y años de experiencia en la industria automotriz, lidera nuestro equipo con pasión y dedicación. Su enfoque en la excelencia y la satisfacción del cliente ha sido clave para el éxito de ServiExpress.
      </p>
    </div>
  </div>

  <!-- Otros miembros del equipo -->
  <div class="card mb-4">
    <div class="card-header">
      <h2 style="color:black;">Marta González - Jefa de Atención al Cliente</h2>
    </div>
    <div class="card-body">
      <p style="color:black;">
        Marta lidera nuestro equipo de atención al cliente. Con una comunicación excepcional y empatía, se asegura de que cada cliente reciba el mejor servicio posible. Su experiencia en resolver problemas y su actitud positiva son un activo invaluable para ServiExpress.
      </p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h2 style="color:black;">Carlos Rodríguez - Ingeniero de Desarrollo</h2>
    </div>
    <div class="card-body">
      <p style="color:black;">
        Carlos es nuestro ingeniero de desarrollo, encargado de mejorar continuamente la plataforma ServiExpress. Con habilidades técnicas sólidas y una pasión por la innovación, contribuye al crecimiento y la eficiencia de nuestro sistema. Su dedicación garantiza que ServiExpress esté siempre a la vanguardia de la tecnología.
      </p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h2 style="color:black;">Ana Jiménez - Especialista en Soporte TI</h2>
    </div>
    <div class="card-body">
      <p style="color:black;">
        Ana es nuestra especialista en soporte de tecnologías de la información. Su experiencia asegura que ServiExpress funcione sin problemas en el ámbito tecnológico. Está siempre disponible para resolver problemas técnicos y garantizar la estabilidad de nuestros sistemas.
      </p>
    </div>
  </div>

</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
    