{% extends 'base.html' %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
<link rel="stylesheet" href="{% static 'css/estilo_explorar.css' %}">
{% endblock %}
{% block content %} 
<h1>Contáctanos</h1>
<p style="color:black;">¿Tienes alguna pregunta?, por favor no dudes en contactarnos directamente, nuestro equipo se pondrá en contacto
  contigo a la brevedad.</p>
<div class="row">
  <div class="col-md-6" style="padding-top:30px;">

    <!-- FORM -->
    <form id="contact-form">
      <div class="form-group">
        <input type="text" name="name" id="name" class="form-control required" placeholder="Nombre">
      </div>
      <div class="form-group">
        <input type="email" name="email" id="email" class="form-control required" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="text" name="subject" id="subject" class="form-control" placeholder="Asunto">
      </div>
      <div class="form-group">
        <textarea name="message" id="message" class="form-control required" placeholder="Escribe un mensaje"
          rows="7"></textarea>
      </div>
      <button class="btn btn-primary" id="submit-form">Enviar mensaje</button>
    </form>
    <!-- END FORM -->

  </div>
  <div class="col-md-6" style="padding-top:30px;">
    <img src="{% static 'img/elmalicia.jpg' %}" alt="El malicia">
    <p style="color:black;">Visítanos en Padre Alonso Ovalle 1312<br> Santiago de Chile<br>

      + 56 934 567 89<br>

      contacto@maliciatickets.cl</p>
  </div>
</div>
{% endblock %}
