{% extends 'base.html' %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
<link rel="stylesheet" href="{% static 'css/estilo_explorar.css' %}">
{% endblock %}
{% block content %} 
<div class="container-fluid">
  <h1>Eventos más próximos en Chile</h1>
  <div class="banner-seccion mes">
      <h3>Mayo</h3>
  </div>
  <table class="table-responsive" id="calendarioMesActual">
      <thead>
        <tr>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
          <th>Sábado</th>
          <th>Domingo</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="banner-seccion mes">
      <h3>Junio</h3>
  </div>
    <table class="table-responsive" id="calendarioMesSiguiente">
      <thead>
        <tr>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
          <th>Sábado</th>
          <th>Domingo</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
{% endblock %}
