{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated and user.is_superuser %}
    <a class="btn btn-primary" href="{% url 'editar_noticia' pk=post.pk %}">Editar noticia</a>
    <hr>
{% endif %}
    <div class="post">
        <div class="banner-seccion">
            <h2>{{ post.titulo }}</h2>
            <i>Publicado el {{ post.fecha_publicacion }}</i>
        </div>
        <div class="row noticia">
            <p>{{ post.texto|linebreaksbr }}</p>
        </div>
    </div>
{% endblock %}
