{% extends 'base.html' %}
{% load static %}
{% block content %}
<div
id="carouselExampleIndicators"
class="carousel slide"
data-ride="carousel"
>
<ol class="carousel-indicators">
  <li
    data-target="#carouselExampleIndicators"
    data-slide-to="0"
    class="active"
  ></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
</ol>
<div class="carousel-inner" role="listbox">
  <div class="carousel-item active">
    <div class="texto-slide">
      <h1>King Gizzard & the Lizard Wizard</h1>
      <p>La banda australiana nunca vendrá a este país.</p>
    </div>
    <img
      class="d-block w-100"
      src="../static/img/carrusel-inicio/slide1.jpg"
      alt="First slide"
    />
  </div>
  <div class="carousel-item">
    <div class="texto-slide">
      <h1>HOMESHAKE</h1>
      <p>
        Dará un concierto online por la plataforma Duoc AVA Blackboard,
        pincha acá para comprar tu pase.
      </p>
    </div>
    <img
      class="d-block w-100"
      src="../static/img/carrusel-inicio/slide2.jpg"
      alt="Second slide"
    />
  </div>
  <div class="carousel-item">
    <div class="texto-slide">
      <h1>BadBadNotGood</h1>
      <p>
        Los canadienses alistan su regreso a Chile el próximo 30 de mayo
        en Teatro Coliseo.
      </p>
    </div>

    <img
      class="d-block w-100"
      src="../static/img/carrusel-inicio/slide3.jpg"
      alt="Third slide"
    />
  </div>
  <div class="carousel-item">
    <div class="texto-slide">
      <h1>Tame Impala</h1>
      <p>I heard about a whirlwind that's coming 'round</p>
    </div>
    <img
      class="d-block w-100"
      src="../static/img/carrusel-inicio/slide4.jpg"
      alt="Forth slide"
    />
  </div>
  <div class="carousel-item">
    <div class="texto-slide">
      <h1>Pond</h1>
      <p>
        Aterrizarán en nuestro país con un show fijado para el próximo 5
        de noviembre en Blondie.
      </p>
    </div>
    <img
      class="d-block w-100"
      src="../static/img/carrusel-inicio/slide5.jpg"
      alt="Fifth slide"
    />
  </div>
</div>
<a
  class="carousel-control-prev"
  href="#carouselExampleIndicators"
  role="button"
  data-slide="prev"
>
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Anterior</span>
</a>
<a
  class="carousel-control-next"
  href="#carouselExampleIndicators"
  role="button"
  data-slide="next"
>
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Siguiente</span>
</a>
</div>
<div class="container-fluid busqueda">
  <form id="formBuscar" name="formBuscar" action="{% url 'buscar_eventos' %}" method="GET">
    {% csrf_token %}
    <h3>Encuentra nuevos eventos</h3>
    <input
      type="text"
      id="txtBuscar"
      name="txtBuscar"
      placeholder="Busca por artista, evento o lugar"
    />
    <input
      id="btnBuscar"
      class="btn btn-primary"
      type="submit"
      value="Buscar"
    />
  </form>
  <div class="row resultados">
    {% if eventos %}
      <table id="tbResultados" class="table">
        <thead>
          <tr>
            <th scope="col">Evento</th>
            <th scope="col">Fecha y hora</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Usuario</th>
          </tr>
        </thead>
        <tbody>
          {% for evento in eventos %}
          <tr>
            <td>
            <a href="{% url 'evento' id=evento.id %}"><img class="miniatura_resultado" src="{{ evento.imagen.url }}">{{ evento.nombre }}</a></td>
            <td>{{ evento.fecha }} {{ evento.hora }}</td>
            <td>{{ evento.lugar }}</td>
            <td><a href="/perfil/{{ evento.user_id }}">{{ evento.user_id }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      {% if texto_busqueda %}
        <p>No se encontraron resultados.</p>
      {% endif %}
    {% endif %}
  </div>
</div>
<div class="row">
<div class="col-sm-12 col-md-8">
  <div class="banner-seccion">
    <h3>Novedades</h3>
  </div>
  {% for post in posts %}
  <div class="row noticia">
    <div class="col-md-3 col-sm-5 text-right">
      <a href="{% url 'noticia' pk=post.pk %}">
        <img src="../static/img/noticias/flyer-detonando-millantu-vol6.jpg" class="img-fluid" alt="Your Image" />
      </a>
    </div>
      <div class="col-md-9 col-sm-7 texto-noticia">
      <h5>{{ post.titulo }}</h5>
      <i>{{ post.fecha_publicacion }}</i>
      </div>
  </div>
{% endfor %}
 
  <button
    type="button"
    class="btn btn-primary"
    style="margin-bottom: 20px"
  >
    Cargar más
  </button>
</div>
<div class="col-sm-12 col-md-4 text-center">
  <div class="banner-seccion text-left">
    <h3>Eventos en tu zona</h3>
  </div>
  <div id="mapa" style="overflow: hidden">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26864.975399997234!2d-71.2146944!3d-32.6828032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scl!4v1679893708218!5m2!1ses!2scl"
      width="470"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
</div>
</div>


{% endblock %}

