{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="../../../static/css/estilo.css">
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body bg-white">
                    <h2 class="text-dark text text-center">Editar evento</h2>
                    <hr class="text-dark">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form | crispy}}
                        <br>
                        {%comment%}<a href="{% url '' %}">Ir al Inicio</a> |
                        <a href="{% url '' %}">Iniciar Sesión</a>{%endcomment%}
                        <input type="submit" value="Ingresar" class="btn btn-success float-end">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

