{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
  {% if user.is_authenticated %}
  <form id="u_form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
      {{ form|crispy }}
    </table>
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
  </form>
  {% endif %}


<hr>
  <h1>Tus eventos</h1>
  <a href="{% url 'crear_evento' %}" class="btn btn-active">Agregar evento</a>
  <hr>
  <table class="table table-dark table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Lugar</th>
        <th>Precio</th>
        <th>Entradas disponibles</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for evento in eventos %}
      <tr>
        <td>{{ evento.id }}</td>
        <td>{{ evento.nombre }}</td>
        <td>{{ evento.fecha }}</td>
        <td>{{ evento.hora }}</td>
        <td>{{ evento.lugar }}</td>
        <td>{{ evento.precio }}</td>
        <td>{{ evento.entradas_disponibles }}</td>
        <td>
          <a href="{% url 'editar_evento' evento.id %}" class="btn">Editar</a>
          <a href="{% url 'eliminar_evento' evento.id %}" class="btn btn-primary">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
