{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<br><br><br><br><br><br>
<div class="container">
  
    <h1 style="color:black;">Eliminar usuario</h1>

    <p style="color:black;">¿Estás seguro de que deseas eliminar el usuario "{{ evento.user.username }}"?</p>
    <p style="color:black;">Esta acción no se puede deshacer.</p>
    
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Eliminar</button>
    </form>
</div>


{% endblock %}

