{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <div class="imagen_perfil">
        <img src="{{ perfil.imagen_perfil.url }}" alt="Imagen de perfil">
      </div>
    </div>
    <div class="col-lg-9">
      {% if user.is_authenticated and perfil.user.username == user.username %}
      <a href="{% url 'editar_perfil' %}">Editar perfil</a>
      {% endif %}
      <h1>{{ perfil.first_name }}</h1>
      <h5 style="color:rgb(32, 32, 32);">@{{ perfil.user.username }}</h5>
      <p style="color:rgb(32, 32, 32);">{{ perfil.biografia }}</p>
    </div>
  </div>
</div>
{% if user.is_authenticated and perfil.user.username == user.username %}
<h1>Gestión de usuarios</h1>
{% else %}
<h1>usuarios de {{ perfil.first_name }}</h1>
{% endif %}
{% if user.is_authenticated and perfil.user.username == user.username %}
{% if user.is_superuser %}
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Gestionar usuarios</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Gestionar boletas y facturas</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Gestionar órdenes de pedido</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Gestionar proveedores</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Gestionar servicios</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Gestionar empleados</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Informes</a>
{% endif %}
{% endif %}

<hr>
<table class="table table-dark table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Lugar</th>
      <th>Precio</th>
      <th>Entradas disponibles</th>
      {% if user.is_authenticated and perfil.user.username == user.username %}
      <th>Acciones</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <td>{{ usuario.id }}</td>
      <td><a href="{% url 'usuario' id=usuario.id %}">{{ usuario.user.username }}</a></td>
      <td>{{ usuario.fecha }}</td>
      <td>{{ usuario.hora }}</td>
      <td>{{ usuario.lugar }}</td>
      <td>${{ usuario.precio }}</td>
      <td>{{ usuario.entradas_disponibles }}</td>
      {% if user.is_authenticated and perfil.user.username == user.username %}
      <td>
        <a href="{% url 'editar_evento' usuario.id %}" class="btn">Editar</a>
        <a href="{% url 'eliminar_evento' usuario.id %}" class="btn btn-primary">Eliminar</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}
