{% extends 'base.html' %} 
{% block css %}
<link rel="stylesheet" href="../static/css/estilo.css">
{% endblock %}
{% block content %} 
{% load crispy_forms_tags %}
<br /><br /><br /><br /><br /><br />
<div class="container">
  <h1>Lista de eventos</h1>

  <a href="{% url 'crear_evento' %}">Agregar evento</a>

  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for evento in eventos %}
      <tr>
        <td>{{ evento.id }}</td>
        <td>{{ evento.nombre }}</td>
        <td>{{ evento.precio }}</td>
        <td>
          <img src= ../../static/img/{{ logo.png }} style="width:
          100px;"/>
        </td>

        {% comment %}
        <td>
          <img src= ../../static/images/{{ productp.img }} style="width:
          100px;"/>
        </td>
        {% endcomment %}

        <td>
          <a href="{% url 'editar_evento' evento.id %}">Editar</a>
          <a href="{% url 'eliminar_evento' evento.id %}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
