{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <div class="imagen_perfil">
        <img src="{{ perfil.imagen_perfil.url }}" alt="Imagen de perfil">
      </div>
    </div>
    <div class="col-lg-9">
      {% if user.is_authenticated and perfil.user.username == user.username %}
      <a href="{% url 'editar_perfil' %}">Editar perfil</a>
      {% endif %}
      <h1>{{ perfil.first_name }}</h1>
      <h5 style="color:rgb(32, 32, 32);">@{{ perfil.user.username }}</h5>
      <p style="color:rgb(32, 32, 32);">{{ perfil.biografia }}</p>
    </div>
  </div>
</div>
{% if user.is_authenticated and perfil.user.username == user.username %}
{% if user.is_superuser %}
<h1>Opciones del administrador</h1>
<a href="{% url 'gestionarusuarios' username=user.username %}" class="btn btn-primary opcion">Gestionar usuarios</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Gestionar boletas y facturas</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Gestionar órdenes de pedido</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Gestionar proveedores</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Gestionar servicios</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Gestionar empleados</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Gestionar catálogo</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Informes</a>
{% else %}
<h1>Opciones del cliente</h1>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Reservar Horas</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Anular reserva</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Revisar mis boletas y facturas</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Consultar el estado de un vehículo</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Contactar mecánico</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Calificar servicios</a>
<a href="{% url 'crear_evento' %}" class="btn btn-primary opcion">Consultar catálogo de repuestos</a>
{% endif %}
{% endif %}

{% if user.is_authenticated and not user.is_superuser %}

<h1>Tus servicios</h1>

<table class="table table-dark table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Precio</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    {% for evento in eventos %}
    <tr>
      <td>{{ evento.id }}</td>
      <td>{{ evento.nombre }}</td>
      <td>{{ evento.fecha }}</td>
      <td>{{ evento.hora }}</td>
      <td>{{ evento.lugar }}</td>
      <td>{{ evento.precio }}</td>
      <td>{{ evento.entradas_disponibles }}</td>
      <td>
        <a href="{% url 'editar_evento' evento.id %}" class="btn">Editar</a>
        <a href="{% url 'eliminar_evento' evento.id %}" class="btn btn-primary">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<hr>
</div>

{% endblock %}
