{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <div class="imagen_perfil">
        <img src="{{ perfil.imagen_perfil.url }}" alt="Imagen de perfil">
      </div>
    </div>
    <div class="col-lg-9">
      {% if user.is_authenticated and perfil.user.username == user.username %}
      <a href="{% url 'editar_perfil' %}">Editar perfil</a>
      {% endif %}
      <h1>{{ perfil.first_name }}</h1>
      <h5 style="color:rgb(32, 32, 32);">@{{ perfil.user.username }}</h5>
      <p style="color:rgb(32, 32, 32);">{{ perfil.biografia }}</p>
    </div>
  </div>
</div>
{% if user.is_authenticated and perfil.user.username == user.username %}
<h1>Tus eventos</h1>
{% else %}
<h1>Eventos de {{ perfil.first_name }}</h1>
{% endif %}
{% if user.is_authenticated and perfil.user.username == user.username %}
<a href="{% url 'crear_evento' %}" class="btn btn-active">Agregar evento</a>
{% endif %}
<hr>
<table class="table table-dark table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Lugar</th>
      <th>Precio</th>
      <th>Entradas disponibles</th>
      {% if user.is_authenticated and perfil.user.username == user.username %}
      <th>Acciones</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for evento in eventos %}
    <tr>
      <td>{{ evento.id }}</td>
      <td><a href="{% url 'evento' id=evento.id %}">{{ evento.nombre }}</a></td>
      <td>{{ evento.fecha }}</td>
      <td>{{ evento.hora }}</td>
      <td>{{ evento.lugar }}</td>
      <td>${{ evento.precio }}</td>
      <td>{{ evento.entradas_disponibles }}</td>
      {% if user.is_authenticated and perfil.user.username == user.username %}
      <td>
        <a href="{% url 'editar_evento' evento.id %}" class="btn">Editar</a>
        <a href="{% url 'eliminar_evento' evento.id %}" class="btn btn-primary">Eliminar</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}
